body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

header {
    background-color: #252525;
    padding: 10px;
}

div {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

button {
    background-color: #dc3545; 
    color: #000000; 
    padding: 8px 16px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    background-color: #ddd;
    color: black;
    border-bottom-color: #333;
}



.about-page {
    padding: 20px;
}

.about-section {
    background-color: white;
    border: 2px solid #555; 
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.about-section h2 {
    color: #333;
    font-size: 3em; 
    font-weight: bold; 
    margin-bottom: 15px; 
    cursor: pointer; 
}

.about-section p {
    color: #555;
    font-size: 1.1em;
}


.home-page {
    padding: 20px;
}

.home-title {
    color: #333;
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
    cursor: pointer; 
}

.home-discription {
    color: #555;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -60px; 
}

.search-results {
    margin-top: 50px;
    text-align: center;
}

.search-results h2{
    font-size: 50px;
}

.input{
    display: grid;
    justify-content: center;
}

#search-container {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#search-button {
    background-color: #ddd;
    display: inline-block; 
    vertical-align: top; 
    padding: 8px;
    border: 2px solid #333;
    cursor: pointer;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#search-button:hover {
    background-color: #252525;
    color: white;
}

#search-input {
    display: inline-block;
    margin: 0 auto; 
    padding: 10px;
    width: 200px; 
    border: 2px solid #333;
}

.error-container {
    text-align: center;
}
  
.error-container h2 {
    font-size: 128px;
    margin-top: 50px;
    margin-bottom: 0;
}
  
.error-container h3 {
    font-size: 32px;
    margin: 0;
}

.plus-button {
    background-color: white;
    color: #dc3545;
    padding: 4px 8px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  
.plus-button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
}

.books-container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: row;
}

.book-container {
    width: 300px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #555; 
    border-radius: 8px;
    display: inline-block;
    background-color: white;
}